@import "../../../App.module.scss";

.collectionsSettingsContainer {
	display: flex;
	flex-direction: column;
}

.title {
	font-weight: 700;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid $x-light-gray;
}

.sectionHeading {
	margin-top: 1rem;
	margin-bottom: 0.5rem;

	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;

	opacity: 0.6;
}

.collectionsTable {
	width: 100%;
	margin-bottom: 1rem;
}

td {
	height: 2.1rem;
}

.addContainer {
	display: inline-flex;
	width: 100%;
	margin-top: 0.5rem;
	border-radius: 5px;
	margin-bottom: 1rem;

	.input {
		width: 100%;

		border-style: none;
		border: none;
		outline: none;
		padding: 0.35rem 1rem;
		font-size: 1.1rem;
		cursor: text;
		background-color: $xx-light-gray;
		outline: 1px solid $xx-light-gray;
		border-radius: 5px 0 0 5px;
		height: 100%;
		font-family: $font_zen;
	}

	.add {
		display: flex;

		justify-content: center;
		padding: 0.5rem 0rem;
		width: 10rem;

		border-radius: 0 5px 5px 0;
		outline: 1px solid $primary;
		color: $primary;
		background-color: white;
		font-size: 0.9rem;
		cursor: pointer;

		transition: 200ms ease-in-out;

		.icon {
			font-size: 1.1rem;
			padding-top: 0.15rem;
			margin-left: -1rem;
		}

		&:hover {
			background-color: $primary;
			color: white;
			transition: 200ms ease-in-out;
		}
	}
}
