@import "../../App.module.scss";

.sideNav {
	width: 13rem;
	height: 100vh;

	color: white;
	background-color: $primary;
	box-shadow: 0px 0px 4px 1.5px rgba(59, 59, 69, 0.8);
	position: sticky;
	z-index: 1;
}

.sideNavContainer {
	padding: 0.2rem 0.5rem;
}

.appTitleContainer {
	text-align: center;

	.appTitle {
		color: white;
		text-decoration: none;
		font-size: 2rem;
		font-family: $font_ephesis;
		padding-left: 1rem;
		padding-right: 1rem;
		transition: 300ms ease-in-out;
	}

	a:hover {
		color: $hover-text;
		transition: 300ms ease-in-out;
	}
}

.listTitle {
	margin-top: 1rem;
	margin-left: 1rem;

	color: $light-gray;
	font-weight: 600;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.list {
	margin-top: 0.7rem;
	font-size: 0.97rem;
	display: flex;
	flex-direction: column;
	font-family: $font_zen;

	a {
		color: white;
		text-decoration: none;

		margin-bottom: 0.2rem;

		padding-left: 1rem;
		padding-top: 0.2rem;
		padding-bottom: 0.3rem;

		cursor: pointer;
		transition: 300ms ease-in-out;
	}

	a:hover {
		background-color: $hover-black;
		color: $white;

		border-radius: 4px;
		transition: 300ms ease-in-out;
	}

	a:active,
	a.active {
		background: $selected-black;
		transition: 300ms;
		border-radius: 4px;
	}
}

.tools {
	top: 100vh;
	position: absolute;
	transform: translateY(-120%);
	width: 12rem;
}

.icon {
	font-size: 1.3rem;
	border-radius: 5px;
	color: white;
	transition: 200ms ease-in-out;
}

.settings {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0;
	gap: 0.3rem;

	border-radius: 4px;
	color: $x-light-gray;
	text-decoration: none;
}

.active {
	background: $selected-black;
	transition: 300ms;
	border-radius: 4px;
}

.settings:hover {
	background-color: $hover-black;
	color: $white;
	transition: 200ms ease-in-out;
	cursor: pointer;

	.icon {
		color: white;
	}
}
