@import "../../App.module.scss";

.sideNav {
  width: 13rem;
  height: 100vh;

  color: white;
  background-color: $black;
  box-shadow: 0px 0px 4px 1.5px rgba(59, 59, 69, 0.8);
  position: fixed;
}

.sideNavContainer {
  padding: 0.2rem 0.4rem;
}

.appTitleContainer {
  text-align: center;

  .appTitle {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: $Sorted;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 300ms ease-in-out;
  }

  a:hover {
    color: $hover-text;
    transition: 300ms ease-in-out;
  }
}

.listTitle {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: -0.5rem;

  color: $light-gray;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.list {
  margin-top: 0.7rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;

  a {
    color: white;
    text-decoration: none;

    margin: 0.2rem;

    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    cursor: pointer;
    transition: 300ms ease-in-out;
  }

  a:hover {
    background-color: $hover-black;
    color: $white;

    border-radius: 5px;
    transition: 300ms ease-in-out;
  }
}

.add {
  opacity: 0;
  display: flex;
  justify-content: center;

  padding: 0.5rem 0rem;
  border-radius: 5px;

  color: $light-gray;
  font-size: 0.8rem;
  cursor: pointer;

  .icon {
    font-size: 1em;
    padding-top: 0.1rem;
  }

  transition: 300ms ease-in-out, opacity 100ms ease-in-out 200ms;
}

.sideNav:hover {
  .add {
    opacity: 1;
  }

  .add:hover {
    color: white;
    background-color: $hover-black;

    transition: 300ms ease-in-out;
  }
}
