@import "../../App.module.scss";

.settingsCollectionEntryContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 2rem;
	padding: 0.3rem 0.5rem;
	width: 100%;
	height: 100%;
	border-radius: 5px;

	transition: 200ms ease-in-out;

	.categoryName {
		font-family: $font_zen;
		font-size: 1.1rem;
	}

	.tools {
		display: none;
		transition: 200ms ease-in-out;
	}

	.icon {
		font-size: 1.1rem;
		margin-bottom: -0.25rem;
	}

	.rowTools {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;

		font-size: 0.9rem;
	}

	.rowToolDelete {
		padding: 0.35rem 0.4rem;

		color: $red;
		outline: 1px solid $red;
		border-radius: 4px;

		transition: 200ms ease-in-out;
	}
}

.settingsCollectionEntryContainer:hover {
	background-color: $x-light-gray;
	transition: 200ms ease-in-out;

	.tools {
		display: flex;
	}

	.rowToolDelete {
		background-color: white;

		&:hover {
			color: white;
			background-color: $red;

			transition: 200ms ease-in-out;
			cursor: pointer;
		}
	}
}
