@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");

// Colors
$white: white;
$light-gray: #b2b2b2;
$gray: gray;
$black: #3b3b45;

$hover-text: #f6eea4;
$hover-black: #4e4e57;

// Fonts
$Sorted: "Ephesis", cursive;
